<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- Author: Oliver Dayun Liu -->
<!-- Special thank to Professor Michael Gleicher for his quadcopter tutorial. Part of his code is modified and then used here-->
<!-- Special thank to the OSU Mania player MeowPaz for O2J skin elements used in this APP-->
<html>
<head>
    <title>Game</title>
</head>
<body>
<canvas id="canvas" width="414" height="736"
        style="border:1px solid #000000;"></canvas>
<!--<script type="text/javascript" src="map.js"></script>-->
<script type="text/javascript">
    "use sctrict";
    function myApp() {
        document.getElementById("canvas").style.background = 'black';
        var width = document.getElementById("canvas").width;
        var height = document.getElementById("canvas").height;
        var width9 = width / 9;
        var height16 = height / 16;
        var width11 = width/11;
        var height5 = height/5;

        var keysdown = {};
        document.body.onkeydown = function (e) {
            var event = window.event ? window.event : e;
            keysdown[event.keyCode] = true;
            e.stopPropagation();
        };
        document.body.onkeyup = function (e) {
            var event = window.event ? window.event : e;
            delete keysdown[event.keyCode];
            e.stopPropagation();
        };

        var img_300 = document.createElement('img');
        img_300.src = 'mania-300.png';
        var img_100 = document.createElement('img');
        img_100.src = 'mania-100.png';
        var img_50 = document.createElement('img');
        img_50.src = 'mania-50.png';
        var img_0 = document.createElement('img');
        img_0.src = 'mania-0.png';

        var key1 = document.createElement('img');
        key1.src = 'mania-key1.png';
        var key2 = document.createElement('img');
        key2.src = 'mania-key2D.png';
        var key1D = document.createElement('img');
        key1D.src = 'mania-key1D.png';
        var key2D = document.createElement('img');
        key2D.src = 'mania-keySD.png';
        var stage_left = document.createElement('img');
        stage_left.src = 'mania-stage-left.png';
        var stage_right = document.createElement('img');
        stage_right.src = 'mania-stage-right.png';
        var stage_hint = document.createElement('img');
        stage_hint.src = 'mania-stage-hint.png';
        var note1 = document.createElement('img');
        note1.src = 'mania-note1.png';
        var note2 = document.createElement('img');
        note2.src = 'mania-note2.png';

        var light0 = document.createElement('img');
        light0.src = 'lightingN-0.png';
        var light1 = document.createElement('img');
        light1.src = 'lightingN-1.png';
        var light2 = document.createElement('img');
        light2.src = 'lightingN-2.png';
        var light3 = document.createElement('img');
        light3.src = 'lightingN-3.png';
        var light4 = document.createElement('img');
        light4.src = 'lightingN-4.png';
        var light5 = document.createElement('img');
        light5.src = 'lightingN-5.png';
        var light6 = document.createElement('img');
        light6.src = 'lightingN-6.png';
        var light7 = document.createElement('img');
        light7.src = 'lightingN-7.png';
        var light8 = document.createElement('img');
        light8.src = 'lightingN-8.png';
        var light9 = document.createElement('img');
        light9.src = 'lightingN-9.png';
        var light10 = document.createElement('img');
        light10.src = 'lightingN-10.png';
        var light11 = document.createElement('img');
        light11.src = 'lightingN-11.png';


        var lemon_tree = document.createElement("AUDIO");
        lemon_tree.src = 'LemonTree.mp3';

        var last_result;
        var last_result_displayed_time;

        //hit judgement time for perfect, good, bad and miss
        //perfect: iidx:20  Jubeat:42  RB:25
        var perfect_judgement = 30;
        var good_judgement = 50;
        var bad_judgement = 80;
        var miss_judgement = 200;

        var theCanvas;
        var myContext;

        var begin_time = Date.now();
        var time_elapsed = 0;
        var reaction_time = 2000;

        var hit_display_time = 400;

        var notes = [[3000,1,0],[4000,2,0],[5000,3,0],[6000,4,0],[7000,5,0],[8000,6,0],[9000,7,0],[10000,1,0],[11000,2,0],[12000,3,0]];
	var i;
	//for (i = 0; i < 10000; i++)
	//notes.push([i*10,1,0]);
        //var notes = [[1000, 1], [1000, 7], [2000, 3], [2500, 4], [4000, 1], [4000, 3], [4300, 2], [4400, 4], [4800, 5], [5000, 7], [5000, 3], [5200, 4], [5500, 6]];

        var lightings = [-1,-1,-1,-1,-1,-1,-1];

        function draw_box(x, y, color) {
            myContext.save();
            myContext.beginPath();
            myContext.moveTo(x - (width9 - 10) / 2, y - height16 / 4);
            myContext.lineTo(x + (width9 - 10) / 2, y - height16 / 4);
            myContext.lineTo(x + (width9 - 10) / 2, y + height16 / 4);
            myContext.lineTo(x - (width9 - 10) / 2, y + height16 / 4);
            myContext.lineTo(x - (width9 - 10) / 2, y - height16 / 4);
            myContext.closePath();
            if (color == undefined)
                myContext.fillStyle = "#FF00FF";
            else
                myContext.fillStyle = color;
            myContext.fill();
            myContext.restore();
        }

        function drop() {
            //console.log("Time_elapsed: ", time_elapsed);
            var i;
            for (i = 0; i < notes.length; i++) {
                var drop_at_elapsed_time = notes[i][0];
                var which_lane = notes[i][1];
                if (time_elapsed >= drop_at_elapsed_time && time_elapsed <= drop_at_elapsed_time + reaction_time) {
                    var y = (((time_elapsed - drop_at_elapsed_time) * (height-height5)) / reaction_time); //theoratically this is right
                    //var y = (((time_elapsed - drop_at_elapsed_time) * (height-height5-82*width11/256/2)) / reaction_time); //but if you count in keyboard trigger time, this is perhaps better
                    var x;
                    if (which_lane == 1)
                        x = width/11*3-width11;
                    else if (which_lane == 2)
                        x = width/11*4-width11;
                    else if (which_lane == 3)
                        x = width/11*5-width11;
                    else if (which_lane == 4)
                        x = width/11*6-width11;
                    else if (which_lane == 5)
                        x = width/11*7-width11;
                    else if (which_lane == 6)
                        x = width/11*8-width11;
                    else if (which_lane == 7)
                        x = width/11*9-width11;

                    //draw_box(x, y);
                    if (which_lane == 1 || which_lane == 3 || which_lane == 5 || which_lane == 7)
                    myContext.drawImage(note1, x, y, width11, 82*width11/256);
                    else
                        myContext.drawImage(note2, x, y, width11, 82*width11/256);
                }
            }

        }

        function draw_hit_result(){
           if (time_elapsed <= last_result_displayed_time + hit_display_time) {
               if (last_result == 0)
                   myContext.drawImage(img_0, width / 2-181/2, height / 2);
               else if (last_result == 50)
                   myContext.drawImage(img_50, width / 2-142/2, height / 2);
               else if (last_result == 100)
                   myContext.drawImage(img_100, width / 2-182/2, height / 2);
               else if (last_result == 300)
                   myContext.drawImage(img_300, width / 2 - 188/2, height / 2);
           }
        }

        function check_hits() {
            //console.log("check hits");
            //console.log("time elapsed: ", time_elapsed);
            var i;
            var y;
            for (i = 0; i < notes.length; i++) {
                if (notes[i][2] == 0) {
                    var desired_hit_time = notes[i][0] + reaction_time;
                    var which_lane = notes[i][1];

                    if (time_elapsed >= desired_hit_time + bad_judgement) {
                        //counts as a miss
                        //myContext.drawImage(img_0, width / 2, height / 2);
                        last_result = 0;
                        last_result_displayed_time = time_elapsed;
                        console.log("0");
                        notes[i][2] = 1;
                        continue;
                    }

                    if (desired_hit_time - miss_judgement <= time_elapsed && time_elapsed <= desired_hit_time + miss_judgement) {
                        if (desired_hit_time - bad_judgement <= time_elapsed && time_elapsed <= desired_hit_time + bad_judgement) {
                            if (desired_hit_time - good_judgement <= time_elapsed && time_elapsed <= desired_hit_time + good_judgement) {
                                if (desired_hit_time - perfect_judgement <= time_elapsed && time_elapsed <= desired_hit_time + perfect_judgement) {
                                    //console.log("perfect implementation");
                                    y = (2 * height - height16 / 2) / 2;
                                    if (which_lane == 1 && keysdown[90]) {
                                        //myContext.drawImage(img_300, width/2, height/2);
                                        last_result = 300;
                                        last_result_displayed_time = time_elapsed;
                                        console.log("300");
                                        notes[i][2] = 1;
                                        lightings[0] = 0;
                                    }
                                    if (which_lane == 2 && keysdown[88]) {
                                        //myContext.drawImage(img_300, width/2, height/2);
                                        last_result = 300;
                                        last_result_displayed_time = time_elapsed;
                                        console.log("300");
                                        notes[i][2] = 1;
                                        lightings[1] = 0;
                                    }
                                    if (which_lane == 3 && keysdown[67]) {
                                        //myContext.drawImage(img_300, width/2, height/2);
                                        last_result = 300;
                                        last_result_displayed_time = time_elapsed;
                                        console.log("300");
                                        notes[i][2] = 1;
                                        lightings[2] = 0;
                                    }
                                    if (which_lane == 4 && keysdown[86]) {
                                        //myContext.drawImage(img_300, width/2, height/2);
                                        last_result = 300;
                                        last_result_displayed_time = time_elapsed;
                                        console.log("300");
                                        notes[i][2] = 1;
                                        lightings[3] = 0;
                                    }
                                    if (which_lane == 5 && keysdown[66]) {
                                        //myContext.drawImage(img_300, width/2, height/2);
                                        last_result = 300;
                                        last_result_displayed_time = time_elapsed;
                                        console.log("300");
                                        notes[i][2] = 1;
                                        lightings[4] = 0;
                                    }
                                    if (which_lane == 6 && keysdown[78]) {
                                        //myContext.drawImage(img_300, width/2, height/2);
                                        last_result = 300;
                                        last_result_displayed_time = time_elapsed;
                                        console.log("300");
                                        notes[i][2] = 1;
                                        lightings[5] = 0;
                                    }
                                    if (which_lane == 7 && keysdown[77]) {
                                        //myContext.drawImage(img_300, width/2, height/2);
                                        last_result = 300;
                                        last_result_displayed_time = time_elapsed;
                                        console.log("300");
                                        notes[i][2] = 1;
                                        lightings[6] = 0;
                                    }
                                    continue;
                                }

                                //console.log("good implementation");
                                y = (2 * height - height16 / 2) / 2;
                                if (which_lane == 1 && keysdown[90]) {
                                    //myContext.drawImage(img_100, width/2, height/2);
                                    last_result = 100;
                                    last_result_displayed_time = time_elapsed;
                                    console.log("100");
                                    notes[i][2] = 1;
                                    lightings[0] = 0;
                                }
                                if (which_lane == 2 && keysdown[88]) {
                                    //myContext.drawImage(img_100, width/2, height/2);
                                    last_result = 100;
                                    last_result_displayed_time = time_elapsed;
                                    console.log("100");
                                    notes[i][2] = 1;
                                    lightings[1] = 0;
                                }
                                if (which_lane == 3 && keysdown[67]) {
                                    //myContext.drawImage(img_100, width/2, height/2);
                                    last_result = 100;
                                    last_result_displayed_time = time_elapsed;
                                    console.log("100");
                                    notes[i][2] = 1;
                                    lightings[2] = 0;
                                }
                                if (which_lane == 4 && keysdown[86]) {
                                    //myContext.drawImage(img_100, width/2, height/2);
                                    last_result = 100;
                                    last_result_displayed_time = time_elapsed;
                                    console.log("100");
                                    notes[i][2] = 1;
                                    lightings[3] = 0;
                                }
                                if (which_lane == 5 && keysdown[66]) {
                                    //myContext.drawImage(img_100, width/2, height/2);
                                    last_result = 100;
                                    last_result_displayed_time = time_elapsed;
                                    console.log("100");
                                    notes[i][2] = 1;
                                    lightings[4] = 0;
                                }
                                if (which_lane == 6 && keysdown[78]) {
                                    //myContext.drawImage(img_100, width/2, height/2);
                                    last_result = 100;
                                    last_result_displayed_time = time_elapsed;
                                    console.log("100");
                                    notes[i][2] = 1;
                                    lightings[5] = 0;
                                }
                                if (which_lane == 7 && keysdown[77]) {
                                    //myContext.drawImage(img_100, width/2, height/2);
                                    last_result = 100;
                                    last_result_displayed_time = time_elapsed;
                                    console.log("100");
                                    notes[i][2] = 1;
                                    lightings[6] = 0;
                                }
                                continue;
                            }
                            //console.log("bad implementation");

                            y = (2 * height - height16 / 2) / 2;
                            if (which_lane == 1 && keysdown[90]) {
                                //myContext.drawImage(img_50, width/2, height/2);
                                last_result = 50;
                                last_result_displayed_time = time_elapsed;
                                console.log("50");
                                notes[i][2] = 1;
                                lightings[0] = 0;
                            }
                            if (which_lane == 2 && keysdown[88]) {
                                //myContext.drawImage(img_50, width/2, height/2);
                                last_result = 50;
                                last_result_displayed_time = time_elapsed;
                                console.log("50");
                                notes[i][2] = 1;
                                lightings[1] = 0;
                            }
                            if (which_lane == 3 && keysdown[67]) {
                               //myContext.drawImage(img_50, width/2, height/2);
                                last_result = 50;
                                last_result_displayed_time = time_elapsed;
                                console.log("50");
                                notes[i][2] = 1;
                                lightings[2] = 0;
                            }
                            if (which_lane == 4 && keysdown[86]) {
                               //myContext.drawImage(img_50, width/2, height/2);
                                last_result = 50;
                                last_result_displayed_time = time_elapsed;
                                console.log("50");
                                notes[i][2] = 1;
                                lightings[3] = 0;
                            }
                            if (which_lane == 5 && keysdown[66]) {
                               //myContext.drawImage(img_50, width/2, height/2);
                                last_result = 50;
                                last_result_displayed_time = time_elapsed;
                                console.log("50");
                                notes[i][2] = 1;
                                lightings[4] = 0;
                            }
                            if (which_lane == 6 && keysdown[78]) {
                               //myContext.drawImage(img_50, width/2, height/2);
                                last_result = 50;
                                last_result_displayed_time = time_elapsed;
                                console.log("50");
                                notes[i][2] = 1;
                                lightings[5] = 0;
                            }
                            if (which_lane == 7 && keysdown[77]) {
                               //myContext.drawImage(img_50, width/2, height/2);
                                last_result = 50;
                                last_result_displayed_time = time_elapsed;
                                console.log("50");
                                notes[i][2] = 1;
                                lightings[6] = 0;
                            }
                        }
                        else {
                            if (keysdown[90]||keysdown[88]||keysdown[67]||keysdown[86]||keysdown[66]||keysdown[78]||keysdown[77]) {
                                //myContext.drawImage(img_0, width / 2, height / 2);
                                last_result = 0;
                                last_result_displayed_time = time_elapsed;
                                console.log("0");
                                notes[i][2] = 1;
                            }
                        } //end of else
                    }//miss judgement
                }// if notes have no hit registration yet
            } //for each note
        }//end of function

        function lighting_handling(x){
            myContext.save();
            myContext.globalAlpha = 1.0;
            var i;
            for(i = 0; i < 7; i++){
                if (lightings[i] == 10) {
                    myContext.drawImage(light10, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 9) {
                    myContext.drawImage(light9, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 8) {
                    myContext.drawImage(light8, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 7) {
                    myContext.drawImage(light7, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 6) {
                    myContext.drawImage(light6, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 5) {
                    myContext.drawImage(light5, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 4) {
                    myContext.drawImage(light4, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 3) {
                    myContext.drawImage(light3, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 2) {
                    myContext.drawImage(light2, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 1) {
                    myContext.drawImage(light1, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
                if (lightings[i] == 0) {
                    myContext.drawImage(light0, width / 11 * (3 + i) - width11, height - height5 - 82*width11/256/2 - width11/2, width11, width11);
                    lightings[i]++;
                }
            }
            myContext.restore();
        }

        // animation loop - clear, update, draw, schedule the next iteration
        function draw() {

            time_elapsed = Date.now() - begin_time;

            myContext.clearRect(0, 0, canvas.width, canvas.height);
            myContext.save();

            //myContext.drawImage(note2,width/13,height-height5-82*width11/256,width11,82*width11/256);


            function draw_ui() {

                myContext.drawImage(key1, width/11*3-width11, height-height5, width11, height5);
                myContext.drawImage(key2, width/11*4-width11, height-height5, width11, height5);
                myContext.drawImage(key1, width/11*5-width11, height-height5, width11, height5);
                myContext.drawImage(key2, width/11*6-width11, height-height5, width11, height5);
                myContext.drawImage(key1, width/11*7-width11, height-height5, width11, height5);
                myContext.drawImage(key2, width/11*8-width11, height-height5, width11, height5);
                myContext.drawImage(key1, width/11*9-width11, height-height5, width11, height5);

                myContext.drawImage(stage_left, width/11*3-width11-40, 0);
                myContext.drawImage(stage_right, width/11*9, 0);

                myContext.drawImage(stage_hint, width11*2, height-height5-105, width11*7, 200);

                /*
                myContext.beginPath();
                myContext.moveTo(1 * width9 + 5, height);
                myContext.lineTo(1 * width9 + 5, height - height16 / 2);
                myContext.lineTo(2 * width9 - 5, height - height16 / 2);
                myContext.lineTo(2 * width9 - 5, height);
                myContext.lineTo(1 * width9 + 5, height);
                myContext.closePath();
                myContext.fillStyle = "#00FFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(2 * width9 + 5, height);
                myContext.lineTo(2 * width9 + 5, height - height16 / 2);
                myContext.lineTo(3 * width9 - 5, height - height16 / 2);
                myContext.lineTo(3 * width9 - 5, height);
                myContext.lineTo(2 * width9 + 5, height);
                myContext.closePath();
                myContext.fillStyle = "#00FFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(3 * width9 + 5, height);
                myContext.lineTo(3 * width9 + 5, height - height16 / 2);
                myContext.lineTo(4 * width9 - 5, height - height16 / 2);
                myContext.lineTo(4 * width9 - 5, height);
                myContext.lineTo(3 * width9 + 5, height);
                myContext.closePath();
                myContext.fillStyle = "#00FFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(4 * width9 + 5, height);
                myContext.lineTo(4 * width9 + 5, height - height16 / 2);
                myContext.lineTo(5 * width9 - 5, height - height16 / 2);
                myContext.lineTo(5 * width9 - 5, height);
                myContext.lineTo(4 * width9 + 5, height);
                myContext.closePath();
                myContext.fillStyle = "#00FFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(5 * width9 + 5, height);
                myContext.lineTo(5 * width9 + 5, height - height16 / 2);
                myContext.lineTo(6 * width9 - 5, height - height16 / 2);
                myContext.lineTo(6 * width9 - 5, height);
                myContext.lineTo(5 * width9 + 5, height);
                myContext.closePath();
                myContext.fillStyle = "#00FFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(6 * width9 + 5, height);
                myContext.lineTo(6 * width9 + 5, height - height16 / 2);
                myContext.lineTo(7 * width9 - 5, height - height16 / 2);
                myContext.lineTo(7 * width9 - 5, height);
                myContext.lineTo(6 * width9 + 5, height);
                myContext.closePath();
                myContext.fillStyle = "#00FFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(7 * width9 + 5, height);
                myContext.lineTo(7 * width9 + 5, height - height16 / 2);
                myContext.lineTo(8 * width9 - 5, height - height16 / 2);
                myContext.lineTo(8 * width9 - 5, height);
                myContext.lineTo(7 * width9 + 5, height);
                myContext.closePath();
                myContext.fillStyle = "#00FFFF";
                myContext.fill();

                //lanes
                myContext.beginPath();
                myContext.moveTo(1 * width9 - 5, 0);
                myContext.lineTo(1 * width9 - 5, height);
                myContext.lineTo(1 * width9 + 5, height);
                myContext.lineTo(1 * width9 + 5, 0);
                myContext.lineTo(1 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(2 * width9 - 5, 0);
                myContext.lineTo(2 * width9 - 5, height);
                myContext.lineTo(2 * width9 + 5, height);
                myContext.lineTo(2 * width9 + 5, 0);
                myContext.lineTo(2 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(3 * width9 - 5, 0);
                myContext.lineTo(3 * width9 - 5, height);
                myContext.lineTo(3 * width9 + 5, height);
                myContext.lineTo(3 * width9 + 5, 0);
                myContext.lineTo(3 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(4 * width9 - 5, 0);
                myContext.lineTo(4 * width9 - 5, height);
                myContext.lineTo(4 * width9 + 5, height);
                myContext.lineTo(4 * width9 + 5, 0);
                myContext.lineTo(4 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(5 * width9 - 5, 0);
                myContext.lineTo(5 * width9 - 5, height);
                myContext.lineTo(5 * width9 + 5, height);
                myContext.lineTo(5 * width9 + 5, 0);
                myContext.lineTo(5 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(6 * width9 - 5, 0);
                myContext.lineTo(6 * width9 - 5, height);
                myContext.lineTo(6 * width9 + 5, height);
                myContext.lineTo(6 * width9 + 5, 0);
                myContext.lineTo(6 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(7 * width9 - 5, 0);
                myContext.lineTo(7 * width9 - 5, height);
                myContext.lineTo(7 * width9 + 5, height);
                myContext.lineTo(7 * width9 + 5, 0);
                myContext.lineTo(7 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();

                myContext.beginPath();
                myContext.moveTo(8 * width9 - 5, 0);
                myContext.lineTo(8 * width9 - 5, height);
                myContext.lineTo(8 * width9 + 5, height);
                myContext.lineTo(8 * width9 + 5, 0);
                myContext.lineTo(8 * width9 - 5, 0);
                myContext.closePath();
                myContext.fillStyle = "#FFFFFF";
                myContext.fill();
                */

                myContext.restore();
            }

            function input_handling() {
                var key1d = document.createElement('img');
                key1d.src = 'mania-key1D.png';
                var key2d = document.createElement('img');
                key2d.src = 'mania-keySD.png';
                var stage_light = document.createElement('img');
                stage_light.src = 'mania-stage-light.png';

                if (keysdown[90]) {

                    //height-height5

                    myContext.drawImage(stage_light, width/11*3-width11, height-height5-height*3/4, width11, height*3/4);
                    myContext.drawImage(key1D, width/11*3-width11, height-height5, width11, height5);
                    //draw_lighting(3);
                    /*
                    myContext.beginPath();
                    myContext.moveTo(1 * width9 + 5, height);
                    myContext.lineTo(1 * width9 + 5, height - height16 / 2);
                    myContext.lineTo(2 * width9 - 5, height - height16 / 2);
                    myContext.lineTo(2 * width9 - 5, height);
                    myContext.lineTo(1 * width9 + 5, height);
                    myContext.closePath();
                    myContext.fillStyle = "#CC0000";
                    myContext.fill();
                    */
                }
                if (keysdown[88]) {
                    myContext.drawImage(stage_light, width/11*4-width11, height-height5-height*3/4, width11, height*3/4);
                    myContext.drawImage(key2D, width/11*4-width11, height-height5, width11, height5);
                    //draw_lighting(4);
                    /*
                    myContext.beginPath();
                    myContext.moveTo(2 * width9 + 5, height);
                    myContext.lineTo(2 * width9 + 5, height - height16 / 2);
                    myContext.lineTo(3 * width9 - 5, height - height16 / 2);
                    myContext.lineTo(3 * width9 - 5, height);
                    myContext.lineTo(2 * width9 + 5, height);
                    myContext.closePath();
                    myContext.fillStyle = "#CC0000";
                    myContext.fill();
                    */
                }
                if (keysdown[67]) {
                    myContext.drawImage(stage_light, width/11*5-width11, height-height5-height*3/4, width11, height*3/4);
                    myContext.drawImage(key1D, width/11*5-width11, height-height5, width11, height5);
                    //draw_lighting(5);
                    /*
                    myContext.beginPath();
                    myContext.moveTo(3 * width9 + 5, height);
                    myContext.lineTo(3 * width9 + 5, height - height16 / 2);
                    myContext.lineTo(4 * width9 - 5, height - height16 / 2);
                    myContext.lineTo(4 * width9 - 5, height);
                    myContext.lineTo(3 * width9 + 5, height);
                    myContext.closePath();
                    myContext.fillStyle = "#CC0000";
                    myContext.fill();
                    */
                }
                if (keysdown[86]) {
                    myContext.drawImage(stage_light, width/11*6-width11, height-height5-height*3/4, width11, height*3/4);
                    myContext.drawImage(key2D, width/11*6-width11, height-height5, width11, height5);
                    //draw_lighting(6);
                    /*
                    myContext.beginPath();
                    myContext.moveTo(4 * width9 + 5, height);
                    myContext.lineTo(4 * width9 + 5, height - height16 / 2);
                    myContext.lineTo(5 * width9 - 5, height - height16 / 2);
                    myContext.lineTo(5 * width9 - 5, height);
                    myContext.lineTo(4 * width9 + 5, height);
                    myContext.closePath();
                    myContext.fillStyle = "#CC0000";
                    myContext.fill();
                    */
                }
                if (keysdown[66]) {
                    myContext.drawImage(stage_light, width/11*7-width11, height-height5-height*3/4, width11, height*3/4);
                    myContext.drawImage(key1D, width/11*7-width11, height-height5, width11, height5);
                    //draw_lighting(7);
                    /*
                    myContext.beginPath();
                    myContext.moveTo(5 * width9 + 5, height);
                    myContext.lineTo(5 * width9 + 5, height - height16 / 2);
                    myContext.lineTo(6 * width9 - 5, height - height16 / 2);
                    myContext.lineTo(6 * width9 - 5, height);
                    myContext.lineTo(5 * width9 + 5, height);
                    myContext.closePath();
                    myContext.fillStyle = "#CC0000";
                    myContext.fill();
                    */
                }
                if (keysdown[78]) {
                    myContext.drawImage(stage_light, width/11*8-width11, height-height5-height*3/4, width11, height*3/4);
                    myContext.drawImage(key2D, width/11*8-width11, height-height5, width11, height5);
                    //draw_lighting(8);
                    /*
                    myContext.beginPath();
                    myContext.moveTo(6 * width9 + 5, height);
                    myContext.lineTo(6 * width9 + 5, height - height16 / 2);
                    myContext.lineTo(7 * width9 - 5, height - height16 / 2);
                    myContext.lineTo(7 * width9 - 5, height);
                    myContext.lineTo(6 * width9 + 5, height);
                    myContext.closePath();
                    myContext.fillStyle = "#CC0000";
                    myContext.fill();
                    */
                }
                if (keysdown[77]) {
                    myContext.drawImage(stage_light, width/11*9-width11, height-height5-height*3/4, width11, height*3/4);
                    myContext.drawImage(key1D, width/11*9-width11, height-height5, width11, height5);
                    //draw_lighting(9);
                    /*
                    myContext.beginPath();
                    myContext.moveTo(7 * width9 + 5, height);
                    myContext.lineTo(7 * width9 + 5, height - height16 / 2);
                    myContext.lineTo(8 * width9 - 5, height - height16 / 2);
                    myContext.lineTo(8 * width9 - 5, height);
                    myContext.lineTo(7 * width9 + 5, height);
                    myContext.closePath();
                    myContext.fillStyle = "#CC0000";
                    myContext.fill();
                    */
                }
            }

            draw_ui();
            drop();
            check_hits();
            draw_hit_result();
            input_handling();
            lighting_handling();

            myContext.restore();
            window.requestAnimationFrame(function () {
                draw();
            });
        }

        // set up the elements
        theCanvas = document.getElementById('canvas');
        myContext = theCanvas.getContext('2d');
        lemon_tree.play();
        draw();
    }
    // start the program when the window is done loading
    window.onload = myApp;
</script>
</body>
</html>