<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Gameplay">
  <ion-content>
    <!--width="414" height="736"-->
    <div style="position:fixed; top:200px; left:200px;color:white;font-size:20pt" id="offset_value">

    </div>
    <canvas id="canvas" width=414 height=736
            style="border:1px solid #000000;"></canvas>
    <!--<script type="text/javascript" src="map.js"></script>-->
    <!--<div id="detector" class="vague">
      <div class="pitch"><span id="pitch">--</span>Hz</div>
      <div class="note"><span id="note">--</span></div>
      <canvas id="output" width=300 height=42></canvas>
      <div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span></div>
    </div>-->
    <script type="text/javascript">
      //"use sctrict";

      // start the program when the window is done loading
      window.onload = myApp;
    </script>
  </ion-content>
</ion-view>
