<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Tutorial">
  <ion-content style="padding:20px">
    <p>
      The game settings are demonstrated by Illustrations 2 and 3 in the “Demonstrations” section. There are seven columns (called lanes) on the mobile screen. As the game moves along, notes (which looks like flat squares), each of which is associated with a specific pitch (such as “do” and “re”) according to their lanes, will drop from the top to the bottom of the screen. When the notes reach the hit judgement area located at the bottom of the screen, players are expected to hum the pitch at the right timing in order to receive scores. The notes are pre-designed to appear at certain timings of the song. Each song, along with its notes, form a beatmap.
    </p>
  </ion-content>
</ion-view>
